p {
    font-size: 14px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    background-image: url(../images/image-product-mobile.jpg);
    background-position: top;
}